<form>
  <h1 mat-dialog-title>Add Book</h1>
  ​
  <mat-form-field>
    <mat-label>Title</mat-label>
    <input matInput [(ngModel)]="newBook.title" name="title" />
  </mat-form-field>
  ​
  <mat-form-field>
    <mat-label>Author</mat-label>
    <input matInput [(ngModel)]="newBook.author" name="author" />
  </mat-form-field>
  ​
  <div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Cancel</button>
    <button
      mat-button
      color="primary"
      [mat-dialog-close]="newBook"
      cdkFocusInitial
    >
      Save
    </button>
  </div>
</form>
